* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 1000px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg.jpg");
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 70px;
    color: #fff;
}

.banner .content p {
    font-size: 20px;
    color: #fff;
}

.btn1 {
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    text-decoration: none;
}

.btn1:hover {
    letter-spacing: 3px;
    color: #ff0157;
    background-color: white;
}
.btn2 {
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    text-decoration: none;
    border: none;
    outline: none;
}

.btn2:hover {
    letter-spacing: 3px;
    color: #ff0157;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

#nuqta {
    color: red;
    padding-left: 2px;
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

.row {
    position: relative;
}

header.newclass .logo {
    color: blue;
}

header .logo:hover {
    transform: scale(1.2);
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header .navigation{
    margin-bottom: 0px;
}
header.newclass {

    height: 80px;
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    align-items: center;
    opacity: 0.9;

}

header.newclass li a {
    text-decoration: none;
    color: rgb(29, 27, 68);
    font-weight: bold;
}

.about .row {
    align-items: center;
    margin-bottom: 100px;
    justify-content: center;
}

#img1 {
    width: 100%;
}

.blok h1 {
    font-weight: bold;
}

.menu {
    background-color: rgba(166, 166, 173, 0.3);
}

.container {
    padding: 60px 0;
}

.menu .row .blok2 img {
    width: 100%;
}

.menu .row .blok2 {
    background-color: white;
    padding: 10px;
}
.blok3{
    padding: 3px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.blok3 .blok3-old{
    background-color: #ff0157;
    max-width: 95%;
    flex: 0 0 95%;
}
.blok3 .blok3-inner{
    border: 10px solid white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    position: relative;
}
 .blok3-inner img {
 width: 100%;
 display: block;
 position: absolute;
 left: 0;
 top:0;
}
.blok3-inner:hover img{
    opacity: 0;
    transition: all 0.2 linear;
    transform: scale(20px);

}
.wisible{
    position: relative;
    visibility: hidden
}
.blok45{
    color: #ff0157;
}
.blok3-inner img:nth-child(1){
    -webkit-clip-path: insert( 0 80% 0 0);
    clip-path: inset(0 80% 0 0);
    transition-delay: 0.1s;
}
.blok3-inner img:nth-child(2){
    -webkit-clip-path: insert(0 40% 0 20%);
     clip-path: inset(0 40% 0 20%);
     transition-delay: 0.4s;
}

.blok3-inner img:nth-child(3){
    -webkit-clip-path: insert(0 60% 0 20%);
    clip-path: inset(0 60% 0 20%);
    transition-delay: 0.4s;
}

.blok3-inner img:nth-child(4){
    -webkit-clip-path: insert(0 0 80 20%);
    clip-path: inset(0 0 80 20%);
    transition-delay: 0.4s;
}
.blok3-inner img:nth-child(5){
    -webkit-clip-path: insert(0 0 0 79%);
    clip-path: inset(0 0 0 79%);
    transition-delay: 0.1s;
}



.testimonials {
    background-image: url('../images/bg2.jpg');
    width: 100%;
    background-size: cover;
}

.testimonials .row .blok4 {
    padding: 20px;
    background-color: white;
}

.testimonials .row .blok4 .imgblok {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
    width: 80px;  
}

.testimonials .row .blok4 img {
  text-align: center;
    width: 100%;
    height: 100%;
}

.testimonials .row .blok4 .mp1 {
    color: red;
    font-weight: bold;
    text-align: center;
}

.testimonials .row .blok4 .mp2 {
    padding-top: 60px;
    text-align: center;
}
.testimonials .row .blok4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.blok5-1
{
    padding: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}
.contact {
    background-image: url('../images/bg3.jpg');
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}


